<div id="page-edit-user">
	<form layout="row" name="edit_user_form" layout-align="center">
		<div flex="60" flex-sm="100" flex-md="70" class="edit-user-wrap">
			<div class="edit-user-header" layout="row" layout-align="start">
				<div class="avatar-container" ng-controller="UploadCtrl">
					<img ng-src="{{user.avatar}}" class="avatar">
					<md-button class="md-fab md-mini md-raised" type="file" ngf-select="uploadAvatar($file)" accept="image/svg+xml,image/webp,image/png,image/jpeg" ngf-max-size="5MB" aria-label="uploadButton"><md-icon md-svg-icon="upload"></md-icon></md-button>
				</div>	
				<div class="info" ng-cloak>
					<h3>{{user.name}}</h3>
					<p>{{user.power | power}}</p>
				</div>
			</div>
			<div class="edit-user-content" layout-padding>
				<md-button class="md-fab update-button md-raised" ng-click="updateUser()" aria-label="updateUser">
					<md-icon md-svg-icon="yes"></md-icon>
				</md-button>
				<md-input-container>
					<label>姓名</label>
					<input type="text" name="name" ng-model="user.name" ng-pattern="/^[\u4e00-\u9fa5]{2,4}$|^[a-zA-Z]{5,16}$/">
					<div ng-messages="edit_user_form.$error" ng-show="edit_user_form.$error && edit_user_form.name.$dirty">
						<div ng-message="pattern">姓名格式不对</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>qq</label>
					<input type="number" name="qq" ng-model="user.qq" ng-pattern="/^[1-9][0-9]{4,9}$/">
					<div ng-messages="edit_user_form.$error" ng-show="edit_user_form.$error && edit_user_form.qq.$dirty">
						<div ng-message="pattern">请输入正确的QQ号码!</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>phone</label>
					<input type="number" name="phone" ng-model="user.phone" ng-pattern="/^(0|86|17951)?(13[0-9]|15[012356789]|18[0-9]|14[57])[0-9]{8}$/">
					<div ng-messages="edit_user_form.$error" ng-show="edit_user_form.$error && edit_user_form.phone.$dirty">
						<div ng-message="pattern">请输入正确的手机号码!</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>简介</label>
					<textarea md-maxlength="100" name="bio" ng-model="user.bio"></textarea>
				</md-input-container>
				<md-radio-group ng-model="user.sex" layout="row" name="sex">
			      	<md-radio-button value="true" class="md-primary">男</md-radio-button>
			      	<md-radio-button value="false"> 女 </md-radio-button>
			    </md-radio-group>
			</div>
			<div class="edit-user-extra" layout-padding ng-if="global_user.power > 0">
				<md-input-container>
			        <label>email</label>
			        <input type="email" ng-model="user.email" name="email">
			        <div ng-messages="edit_user_form.$error" ng-show="edit_user_form.$error && edit_user_form.email.$dirty">
						<div ng-message="email">邮箱格式不正确!</div>
					</div>
			    </md-input-container>
			    <md-input-container ng-if="global_user._id != user._id || global_user.power == 2 ">
			        <label>密码</label>
			        <input type="password" ng-model="user.password" name="password" maxlength="16" minlength="6">
			        <div ng-messages="edit_user_form.$error" ng-show="edit_user_form.$error && edit_user_form.password.$dirty">
						<div ng-message="maxlength">密码最多16位</div>
						<div ng-message="minlength">密码至少6位</div>
					</div>
			    </md-input-container>
				<md-input-container ng-if="global_user == 2">
			        <label>用户权限</label>
			        <md-select ng-model="user.power" name="power">
			          <md-option value="0">作者</md-option>
			          <md-option value="1">管理员</md-option>
			        </md-select>
			    </md-input-container>
			    <md-switch ng-model="user.locked" aria-label="lockUserSwitch" name="locked" ng-if="global_user._id != user._id">
			    锁定用户
				</md-switch>
				<md-switch ng-model="user.active" aria-label="activeUserSwitch" name="active" ng-if="global_user == 2">
			    激活状态
				</md-switch>
			</div>
		</div>
	</form>
</div>