<div id="page-editor">
    <section id="editor-header" layout="row">
    	<md-button class="md-icon-button" ng-click="showSiteSidebar()" hide-gt-md aria-label="showSiteMenu">
    		<span class="icon icon-reorder"></span>
    	</md-button>
    	<input type="text" placeholder="标题" class="post-title" ng-model="post.title">
    	<md-button class="md-icon-button" ng-click="showPostSettings()" aria-label="showPostSettings" ng-disabled="post.author && global_user.power == 0 && post.author._id != global_user._id">
    		<span class="icon icon-settings"></span>
            <md-icon md-svg-icon="settings"></md-icon>
    	</md-button>
    </section>
    <editor></editor>
</div>
<!-- fab -->
<div id="editor-fab">
	<md-fab-speed-dial md-direction="up" class="md-scale">
		<md-fab-trigger>
          	<md-button aria-label="menu" class="md-fab md-warn">
            	<md-icon md-svg-icon="up"></md-icon>
          	</md-button>
        </md-fab-trigger>
        <md-fab-actions>
        	<md-button aria-label="savePost" class="md-fab md-raised md-mini" ng-click="savePost()" ng-disabled="post.author && global_user.power == 0 && post.author._id != global_user._id">
          		<md-tooltip md-direction="left">保存草稿（Ctrl-S）</md-tooltip>
          		<md-icon md-svg-icon="yes"></md-icon>
          	</md-button>
          	<md-button aria-label="pubPost" class="md-fab md-raised md-mini" ng-click="pubPost()" ng-disabled="post.published || post.author && global_user.power == 0 && post.author._id != global_user._id">
          		<md-tooltip md-direction="left">立即发布</md-tooltip>
          		<md-icon md-svg-icon="send"></md-icon>
          	</md-button>
          	<md-button aria-label="unpubPost" class="md-fab md-raised md-mini" ng-click="unpubPost()" ng-disabled="!post.published || post.author && global_user.power == 0 && post.author._id != global_user._id">
          		<md-tooltip md-direction="left">撤销发布</md-tooltip>
          		<md-icon md-svg-icon="undo"></md-icon>
          	</md-button>
          	<md-button aria-label="removePost" class="md-fab md-raised md-mini" ng-click="showRemoveDialog($event)" ng-disabled="!post.id || post.author._id != global_user._id && global_user.power < post.author.power">
          		<md-tooltip md-direction="left">删除文章</md-tooltip>
          		  <md-icon md-svg-icon="delete"></md-icon>
          	</md-button>
        </md-fab-actions>
	</md-fab-speed-dial>
</div>
<!-- sidenav -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="post-settings-sidebar">
	<md-toolbar>
        <div class="md-toolbar-tools">
            <h2><span>博文设置</span></h2>
            <span flex></span>
            <md-button class="md-icon-button close-btn" ng-click="closeSidenav()" aria-label="closePostSettingSidebar">
                <md-icon md-svg-icon="close"></md-icon>
            </md-button>            
        </div>
    </md-toolbar>
    <md-content layout-padding>
    	<form>
            <md-radio-group ng-model="post.classify">
                <md-radio-button ng-repeat="item in allClassify" ng-value="item.name || item" ng-cloak>{{item.name || item}}</md-radio-button>
            </md-radio-group>
          	<md-input-container>
            	<label>添加分类</label>
            	<input type="text" ng-model="classify" ng-keydown="addClassify($event)">       
          	</md-input-container>
		    <md-input-container>
            	<label>博文介绍</label>
            	<textarea ng-model="post.summary" md-maxlength="150" ></textarea>      
          	</md-input-container>
        </form>
        <div ng-controller="TagCtrl as ctrl">
          <md-chips ng-model="post.tags" md-autocomplete-snap md-require-match="false">
            <md-autocomplete 
              md-selected-item="ctrl.selectedItem"
              md-search-text="ctrl.searchText"
              md-items="item in ctrl.querySearch(ctrl.searchText)"
              md-item-text="item"
              placeholder="添加标签">
              <span md-highlight-text="ctrl.searchText" ng-cloak>{{item}}</span>
            </md-autocomplete>
          </md-chips>
        </div>
        <br>
        <div layout="column" ng-controller="UploadCtrl">
            <img ng-src="{{post.cover}}" alt="文章封面" ng-if="post.cover">
        	<md-button class="md-raised" type="file"ngf-select="uploadBlogCover($file)" accept="image/webp,image/png,image/jpeg" ngf-max-size="5MB" aria-label="uploadButton">上传封面</md-button>
        </div>
    </md-content>
</md-sidenav>