<div id="page-error">
	<div class="error-content" ng-cloak>
		<h1 class="md-display-4 font-red">{{ global_error.status || 404}}</h1>
		<p class="font-red md-display-1">{{ global_error.message || '没有这个页面' }}</p>
		<md-button class="md-primary" ng-click="goHome()">返回首页</md-button>
	</div>
</div>