<div id="page-index" layout-margin layout="row" layout-wrap layout-align="center">
	<md-card >
		<img ng-src="{{user.avatar}}">
		<md-card-content ng-class="{0:'',1:'font-green',2:'font-red'}[user.power]" ng-cloak>
			{{user.name}}
		</md-card-content>
		<div class="md-actions" layout="row" layout-align="end center">
	        <md-button class="md-raised" ng-href="user/{{user._id}}">编辑资料</md-button>
      	</div>
	</md-card>
	<div class="posts-recent" flex="30" flex-sm="95" flex-md="40">
		<md-toolbar class="posts-recent-header">
		    <div class="md-toolbar-tools">
		    	最近新建
				<span flex></span>
			    <md-button class="md-icon-button" aria-label="newPost" ng-href="editor">
		        	<md-tooltip md-direction="bottom">新建文章</md-tooltip>
		        	<md-icon md-svg-icon="add"></md-icon>
		        </md-button>
		    </div>
		</md-toolbar>
		<md-content class="posts-recent-content" layout-padding>
			<md-list-item class="md-2-line" ng-repeat="post in posts">
		        <div class="md-list-item-text" layout="column" ng-cloak>
		          <h3><a ng-href="editor/{{post._id}}" ng-class="{true:'font-green',false:'font-red'}[post.published]">{{ post.title }}</a></h3>
		          <p>{{post.create_at | date:'yy年M月d日 HH:mm'}}</p>
		        </div>
		    </md-list-item>
		</md-content>	
	</div>
	<div class="notice" flex="30" flex-sm="95" flex-md="40" ng-if="settings.notice">
		<md-toolbar class="user-info-header">
		    <div class="md-toolbar-tools">公告</div>
		</md-toolbar>
		<md-content layout-padding ng-cloak>
			{{settings.notice}}
		</md-content>
	</div>
</div>