<md-sidenav id="site-nav" class="md-sidenav-left md-whiteframe-z3" md-component-id="site-sidebar-left" md-is-locked-open="$mdMedia('gt-md')">
	<header>
		<a ng-href="/duwei/index" >
			<h1 id="site-logo">Backend</h1>
		</a>
	</header>
	<md-content role="navigation">
		<md-list flex layout="column" layout-align="center center">
		    <md-list-item ng-repeat="menu in menus" ng-if="global_user.power >= menu.power">
		      	<md-button class="md-grid-item-content" ng-click="menuClick($index,$event)">
		        	<md-icon md-svg-icon="{{ menu.icon }}"></md-icon>
		        	<div class="md-grid-text" ng-cloak> {{ menu.name }}  </div>
		      	</md-button>
		    </md-list-item>
		</md-list>
	</md-content>
</md-sidenav>
<md-toolbar id="site-header" class="md-whiteframe-z1" ng-show="global_showSiteheader">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="showSiteMenu" ng-click="showSiteSidebar()" hide-gt-md>
        	<md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="signout" ng-click="signout()">
        	<md-icon md-svg-icon="lock"></md-icon>
        	<md-tooltip md-direction="bottom">退出登录</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="enterFrontend" ng-href="/" target="_blank">
        	<md-icon md-svg-icon="enter"></md-icon>
        	<md-tooltip md-direction="bottom">进入网站</md-tooltip>
        </md-button>
	</div>
</md-toolbar>
<div ui-view id="main"></div>
<footer id="site-footer" ng-show="global_showSiteFooter" ng-controller="FooterCtrl">
	<div class="container">
		Powered by
		<a href="">AngularJS</a>
		<br>
		<md-button ng-click="showBugReport($event)">提交BUG和反馈</md-button>
	</div>
</footer>	