<div id="page-posts"  layout="row" layout-align="space-between">
	<div class="posts-wrap" layout-wrap layout-margin layout="row" layout-align="center" flex>
		<div flex="100" ng-if="!posts.length" layout="column" layout-align="center center">
			<h3 style="font-weight:300;">一篇文章也木有！</h3>
			<md-button class="md-raised" ng-href="editor">新建文章</md-button>
		</div>
		<div class="post" ng-repeat="post in posts" flex="45" flex-sm="100">
			<md-toolbar class="post-header">
				<div class="md-toolbar-tools">
					<span flex></span>
					<md-button class="md-icon-button" aria-label="editPost" ng-href="editor/{{post._id}}">
						<md-tooltip md-direction="bottom">编辑</md-tooltip>
			        	<md-icon md-svg-icon="edit"></md-icon>
			        </md-button>
			        <md-button class="md-icon-button" aria-label="deletePost" ng-click="showRemoveDialog(post,$event,$index)" ng-disabled="post.author._id != global_user._id && global_user.power < post.author.power">
			        	<md-tooltip md-direction="bottom">删除</md-tooltip>
			        	<md-icon md-svg-icon="delete"></md-icon>
			        </md-button>
				</div>
			</md-toolbar>
			<div class="post-content">
				<h2 class="post-title md-title"><a ng-href="editor/{{post._id}}" ng-class="{true:'font-green',false:'font-red'}[post.published]" ng-cloak>{{ post.title }}</a></h2>
				<md-list ng-cloak>
					<md-list-item>
						<md-icon md-svg-icon="male"></md-icon>
						<p>{{post.author.name}}</p>
					</md-list-item>
					<md-list-item ng-show="post.classify">
						<md-icon md-svg-icon="link"></md-icon>
						<p>{{post.classify.name}}</p>
					</md-list-item>
					<md-list-item>
						<md-icon md-svg-icon="date"></md-icon>
						<p>创建于: {{post.create_at | date:'yyyy年MM月dd日 HH:mm:ss '}}</p>
					</md-list-item>
					<md-list-item ng-show="post.published">
						<md-icon md-svg-icon="send"></md-icon>
						<p>发布于: {{post.publish_at | date:'yyyy年MM月dd日 HH:mm:ss '}}</p>
					</md-list-item>
					<md-list-item>
						<md-icon md-svg-icon="refresh"></md-icon>
						<p>更新于: {{post.update_at | date:'yyyy年MM月dd日 HH:mm:ss '}}</p>
					</md-list-item>
				</md-list>
			</div>
		</div>
	</div>
	<md-sidenav id="posts-sidebar" class="md-sidenav-right md-whiteframe-z2" md-component-id="posts-sidebar-left" md-is-locked-open="$mdMedia('gt-md')">
		<md-content >
			<md-subheader class="md-no-sticky">共<span class="font-red">{{posts.length}}</span>篇文章</md-subheader>
			<md-subheader class="md-no-sticky">选择作者</md-subheader>
		    <md-radio-group ng-model="query.author" ng-change="getPosts()">
		    	<md-radio-button  value="">全部作者</md-radio-button>
		      	<md-radio-button ng-repeat="item in author" ng-value="item._id" ng-cloak>{{item.name}}</md-radio-button>
		    </md-radio-group>
		    <md-divider ></md-divider>
		    <md-subheader class="md-no-sticky">选择状态</md-subheader>
		    <md-radio-group ng-model="query.published" ng-change="getPosts()">
		    	<md-radio-button  value="">全部状态</md-radio-button>
		      	<md-radio-button  value="true" ng-cloak>已发布</md-radio-button>
		      	<md-radio-button  value="false" ng-cloak>未发布</md-radio-button>
		    </md-radio-group>
		    <md-divider ></md-divider>
			<md-subheader class="md-no-sticky">选择分类</md-subheader>
			<md-radio-group ng-model="query.classify" ng-change="getPosts()">
				<md-radio-button  value="">全部分类</md-radio-button>
		      	<md-radio-button ng-repeat="item in classify" ng-value="item.name" ng-cloak>{{item.name}}</md-radio-button>
		    </md-radio-group>
		</md-content>
	</md-sidenav>
</div>