<md-content layout-padding class="sign">
	<form name="resetPass_form" novalidate>
		<md-input-container>
			<label>密码</label>
			<input type="password" name="pass" ng-model="NewPass.pass" maxlength="16" minlength="6" required>
			<div ng-messages="resetPass_form.pass.$error" ng-show="resetPass_form.pass.$error && resetPass_form.pass.$dirty">
				<div ng-message="required">密码必填</div>
				<div ng-message="maxlength">密码最多16位</div>
				<div ng-message="minlength">密码至少6位</div>
			</div>
		</md-input-container>
		<md-input-container>
			<label>重复密码</label>
			<input type="password" name="rePass" ng-model="NewPass.rePass" maxlength="16" minlength="6" compare-to="NewPass.pass" required>
			<div ng-messages="resetPass_form.rePass.$error" ng-show="resetPass_form.rePass.$error && resetPass_form.rePass.$dirty">
				<div ng-message="required">密码必填</div>
				<div ng-message="maxlength">密码最多16位</div>
				<div ng-message="minlength">密码至少6位</div>
				<div ng-message="compareTo">两次密码不一致</div>
			</div>
		</md-input-container>
		<input type="hidden" value="NewPass.key" name="key" ng-model="NewPass.key">
		<md-button class="md-raised md-primary" ng-click="resetPass()" ng-disabled="resetPass_form.pass.$invalid || resetPass_form.rePass.$invalid|| NewPass.pass!==NewPass.rePass" >重置</md-button>
	</form>
</md-content>