<div id="page-settings" layout-margin>
	<md-card>
		<div id="cover" style="background-image:url({{settings.img_cover}});width:100%;" ng-controller="UploadCtrl">
			<div class="wrap" ng-show="!f.progress || f.progress == 100">
				<h1 class="md-title" ng-cloak>welcome to {{settings.name}}</h1>
				<div class="description" ng-bind="settings.summary"></div>
			</div>
			<div class="wrap" ng-show="f.progress && f.progress != 100">
				<h1 class="md-title">uploading</h1>
				<div class="description" ng-cloak>{{f.progress}}%</div>
			</div>
			<md-button class="md-fab md-mini md-raised" type="file" ngf-select="uploadSiteCover($file)" accept="image/webp,image/png,image/jpeg" ngf-max-size="5MB" aria-label="uploadButton"><md-icon md-svg-icon="upload"></md-icon></md-button>			
		</div>
		<md-card-content>
			<form>
				<md-input-container>
					<label>博客名称</label>
					<input type="text" ng-model="settings.name">
				</md-input-container>
				<md-input-container>
					<label>单页显示文章数</label>
					<input type="number" ng-model="settings.show_num">
				</md-input-container>
				<md-input-container>
					<label>博客介绍</label>
					<textarea md-maxlength="100" ng-model="settings.summary"></textarea>
				</md-input-container>
				<md-input-container>
					<label>公告</label>
					<textarea md-maxlength="2000" ng-model="settings.notice"></textarea>
				</md-input-container>
			</form>
			<div class="button-toolbar" layout="row" layout-align="start center" >
				<md-button class="md-raised" ng-click="saveSettings()">保存</md-button>
			</div>
		</md-card-content>
	</md-card>
</div>