<md-content layout-padding class="sign">
	<form name="signup_form" novalidate>
		<md-input-container>
			<label>邮箱</label>
			<input type="email" name="email" ng-model="user.email" required>
			<div ng-messages="signup_form.email.$error" ng-show="signup_form.email.$error && signup_form.email.$dirty">
				<div ng-message="required">邮箱必填</div>
				<div ng-message="email">邮箱格式不正确</div>
			</div>
		</md-input-container>
		<md-input-container>
			<label>姓名</label>
			<input type="text" name="name" ng-model="user.name" ng-pattern="/^[\u4e00-\u9fa5]{2,4}$|^[a-zA-Z]{5,16}$/" required>
			<div ng-messages="signup_form.name.$error" ng-show="signup_form.name.$error && signup_form.name.$dirty">
				<div ng-message="required">姓名必填</div>
				<div ng-message="pattern">姓名格式不对</div>
			</div>
		</md-input-container>
		<md-input-container>
			<label>密码</label>
			<input type="password" name="pass" ng-model="user.pass" maxlength="16" minlength="6" required>
			<div ng-messages="signup_form.pass.$error" ng-show="signup_form.pass.$error && signup_form.pass.$dirty">
				<div ng-message="required">密码必填</div>
				<div ng-message="maxlength">密码最多16位</div>
				<div ng-message="minlength">密码至少6位</div>
			</div>
		</md-input-container>
		<md-input-container>
			<label>重复密码</label>
			<input type="password" name="rePass" ng-model="user.rePass" maxlength="16" minlength="6" compare-to="user.pass" required>
			<div ng-messages="signup_form.rePass.$error" ng-show="signup_form.rePass.$error && signup_form.rePass.$dirty">
				<div ng-message="required">密码必填</div>
				<div ng-message="maxlength">密码最多16位</div>
				<div ng-message="minlength">密码至少6位</div>
				<div ng-message="compareTo">两次密码不一致</div>
			</div>
		</md-input-container>
		<md-radio-group ng-model="user.sex" layout="row" name="sex" required>
	      	<md-radio-button value="true" class="md-primary">男</md-radio-button>
	      	<md-radio-button value="false"> 女 </md-radio-button>
	    </md-radio-group>
		<input type="hidden" value="user.key" name="key" ng-model="user.key">
		<md-button class="md-raised md-primary" ng-click="signup()" ng-disabled="signup_form.email.$invalid || signup_form.name.$invalid || signup_form.pass.$invalid || signup_form.rePass.$invalid || signup_form.sex.$invalid || user.pass!==user.rePass" aria-label="signup">注册</md-button>
	</form>
</md-content>