<md-content layout-padding class="sign" ng-controller="SigninCtrl">
	<form name="signin_form" novalidate>
		<md-input-container>
			<label>邮箱</label>
			<input type="email" name="email" ng-model="user.email" required>
			<div ng-messages="signin_form.email.$error" ng-show="signin_form.email.$error && signin_form.email.$dirty">
				<div ng-message="required">邮箱必填</div>
				<div ng-message="email">邮箱格式不正确</div>
			</div>
		</md-input-container>
		<md-input-container>
			<label>密码</label>
			<input type="password" name="pass" ng-model="user.pass" maxlength="16" minlength="6" required>
			<div ng-messages="signin_form.pass.$error" ng-show="signin_form.pass.$error && signin_form.pass.$dirty">
				<div ng-message="required">密码必填</div>
				<div ng-message="maxlength">密码最多16位</div>
				<div ng-message="minlength">密码至少6位</div>
			</div>
		</md-input-container>
		<section layout="row"  layout-align="space-between center">
			<md-checkbox ng-model="user.storage" aria-label="storageCheckbox">
	          7天免登录
	        </md-checkbox>
			<a style="cursor:pointer;" ng-click="showApplyResetDialog($event)"><small>忘记密码?</small></a>
		</section>
		<md-button class="md-raised md-primary" ng-click="signin()" ng-disabled="!signin_form.email.$dirty || !signin_form.pass.$dirty || signin_form.email.$invalid || signin_form.pass.$invalid" aria-label="signin">登录</md-button>
	</form>
</md-content>	