<div id="page-users"  layout-wrap layout-align="center" layout="row" >
	<div class="user" flex="30" flex-sm="100" flex-md="70" ng-repeat="user in users" layout-margin>
		<md-toolbar class="user-tools">
			<div class="md-toolbar-tools">
				<span flex></span>
				<md-button class="md-icon-button" aria-label="editUser" ng-click="goEditPage(user._id)" ng-disabled="global_user.power < user.power && global_user._id != user._id">
					<md-tooltip md-direction="bottom">编辑</md-tooltip>
		        	<md-icon md-svg-icon="edit"></md-icon>
		        </md-button>
		        <md-button class="md-icon-button" aria-label="deleteUser" ng-click="showRemoveDialog(user,$event)" ng-disabled="global_user.power != 2">
		        	<md-tooltip md-direction="bottom">删除</md-tooltip>
		        	<md-icon md-svg-icon="delete"></md-icon>
		        </md-button>
			</div>
		</md-toolbar>
		<div class="user-header">
			<img ng-src="/backend/i/avatar_man.svg"  class="avatar" ng-if="!user.avatar && user.sex">
			<img ng-src="/backend/i/avatar_woman.svg"  class="avatar" ng-if="!user.avatar && !user.sex">
			<img ng-src="{{user.avatar}}"  class="avatar" ng-if="user.avatar">
			<div layout="column" ng-cloak>
				<h3>{{user.name || '尚未激活'}}</h3>
				<span>{{user.email}}</span>
			</div>
		</div>
		<div class="user-content">
			<md-list>
				<md-list-item class="md-2-line" ng-cloak>
					<md-icon md-svg-icon="phone"></md-icon>
					<div class="md-list-item-text" class="md-offset">
			          <h3> {{user.phone}} </h3>
			          <p> phone </p>
			        </div>
				</md-list-item>
				<md-list-item class="md-2-line">
					<md-icon md-svg-icon="qq"></md-icon>
					<div class="md-list-item-text" class="md-offset">
			          <h3> {{user.qq}} </h3>
			          <p> qq </p>
			        </div>
				</md-list-item>
				<md-list-item class="md-2-line">
					<md-icon md-svg-icon="info"></md-icon>
					<div class="md-list-item-text" class="md-offset">
			          <h3> {{user.bio}} </h3>
			          <p> 简介 </p>
			        </div>
				</md-list-item>
			</md-list>
		</div>
	</div>
</div>