<header id="site-header" ng-controller="HeaderCtrl">
	<div class="container">
		<h1 id="site-logo">
			<a ng-href="/" ng-bind="settings.name"></a>
		</h1>
		<nav id="site-menu">
			<a ng-click="goHome()" class="item" ng-class="{true:'active'}[currentState === 'index']">首页</a>
			<a ng-click="goAbout()" class="item" ng-class="{true:'active'}[currentState === 'about']">关于</a>
		</nav>
	</div>
</header>