<div class="post" ng-repeat="post in posts">
	<div ng-if="post.cover">
		<a ng-href="/article/{{post.slug}}/">
			<div class="featured-media" style="background-image: url({{post.cover}});">	
			</div>
		</a>
		<div class="post-content">
			<h2 class="post-title">
				<a ng-href="/article/{{post.slug}}/" ng-bind="post.title"></a>
			</h2>
			<div class="post-entry">
				<p ng-bind="post.summary"></p>
			</div>
			<div class="post-continue">
				<a ng-href="/article/{{post.slug}}/">继续阅读</a>
			</div>
			<div class="post-meta ui meta" ng-cloak>
				<span class="author"><a ng-href="/author/{{post.author._id}}/">{{post.author.name}}</a></span>
				<span class="date">{{post.update_at | date:'yyyy年MM月dd日'}}</span>
				<span class="classify"><a href="/classify/{{post.classify.slug}}/">{{post.classify.name}}</a></span>
			</div>
		</div>
	</div>
	<div ng-if="!post.cover">
		<h2 class="post-title">
			<a ng-href="/article/{{post.slug}}/" ng-bind="post.title"></a>
		</h2>
		<div class="post-entry">
			<p ng-bind="post.summary"></p>
		</div>
		<div class="post-continue">
			<a ng-href="/article/{{post.slug}}/">继续阅读</a>
		</div>
		<div class="post-meta ui meta" ng-clock>
			<span class="author"><a ng-href="/author/{{post.author._id}}/">{{post.author.name}}</a></span>
			<span class="date">{{post.publish_at | date:'yyyy年MM月dd日'}}</span>
			<span class="classify"><a href="/classify/{{post.classify.slug}}/">{{post.classify.name}}</a></span>
		</div>
	</div>
</div>
<!-- posts end -->
<div class="pagination" ng-controller="PageCtrl" ng-hide="pageTotal == 1" ng-clock>
	<a ng-href="{{preUrl}}" class="pre" ng-class="{true:'diabled'}[pageNow === 1]">上一页</a>
	<a ng-href="{{nextUrl}}" class="next" ng-class="{true:'diabled'}[pageNow === pageTotal]">下一页</a>
	<span class="page-num">{{pageNow}} / {{pageTotal}}</span>
</div>
</section>