<div class="widget recent-post hidden-xs hidden-sm">
	<h4 class="title">最近更新</h4>
	<div class="content">
		<div class="recent-sigle-post" ng-repeat="post in recentPosts">
			<a ng-href="/article/{{post.slug}}/" ng-bind="post.title"></a>
			<div class="date" ng-clock>{{post.update_at | date:'yyyy年MM月dd日 HH:mm:ss'}}</div>
		</div>
	</div>
</div>
<div class="widget">
	<h4 class="title">博文分类</h4>
	<div class="content post-classify">
		<a ng-href="/classify/{{item.slug}}/" ng-repeat="item in classify" ng-clock>{{item.name}}（{{item.total}}）</a>
	</div>
</div>
<div class="widget">
	<h4 class="title">标签云</h4>
	<div class="content tag-cloud">
		<a ng-href="/tag/{{item.slug}}/" ng-repeat="item in tags" ng-bind="item.name"></a>
	</div>
</div>