<!DOCTYPE html>
<html lang="zh-CN" ng-app="Backend">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
	 <link rel="apple-touch-icon" href="/i/app-icon.png" />
	<title>Backend</title>
	<script type="text/javascript">
		isIE();
		function isIE() { 
            if (!!window.ActiveXObject || "ActiveXObject" in window){
                alert('不支持IE浏览器，推荐你用chrome,firefox访问！');
                window.location.href = 'http://www.firefox.com.cn/download/';
            }else{
            	return true;
            }
        }
	</script>
	<link rel="stylesheet" href="/lib/angular/angular-material.min.css">
	<link rel="stylesheet" href="/backend/dist/assets/css/backend.min.css">
</head>
<body>
	<div layout="row" layout-sm="column" layout-align="space-around" style="position:fixed;z-index:9999;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);" ng-show="global_loading">
    	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
 	</div>
 	<ng-include src="'/backend/pages/signin.html'" ng-if="global_showSignin"></ng-include>
	<div ui-view ng-if="!global_showSignin" ng-controller="MainCtrl" style="height:100%"></div>
	<script type="text/javascript" src="//cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="/lib/angular/angular-animate.min.js"></script>
	<script type="text/javascript" src="/lib/angular/angular-messages.min.js"></script>
	<script type="text/javascript" src="/lib/angular/angular-aria.min.js"></script>
	<script type="text/javascript" src="/lib/angular/ocLazyLoad.min.js"></script>
	<script type="text/javascript" src="/lib/angular/ngStorage.min.js"></script>
	<script type="text/javascript" src="/lib/angular/http-auth-interceptor.js"></script>
	<script type="text/javascript" src="/lib/angular/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="/lib/angular/angular-material.min.js"></script>
	<script type="text/javascript" src="//cdn.bootcss.com/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="/backend/dist/assets/js/backend.min.js"></script>
</body>
</html>
