<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Pure web前端,NodeJS,AngularJS原创博客</title>
	<meta name="fragment" content="!">
	<meta name="Keywords" content="web前端,NodeJS,AngularJS,Javascript,pure,css,html,个人博客">
	<meta name="description" content="{{site_description}}">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<!--[if lt IE 9]> 
		<script type="text/javascript">
			alert('抱歉！不支持IE9以下浏览器');
			window.location.href = 'http://browsehappy.com/';
		</script>	
	<![endif]--> 
	<link rel="stylesheet" href="/lib/bootstrap.min.css">
	<link rel="stylesheet" href="/frontend/dist/assets/css/frontend.min.css" id="site-style">
</head>
<body>
	<div class="spinner" ng-show="global_loading || ocLazyLoad_loading">
	  	<div class="bounce1"></div>
	  	<div class="bounce2"></div>
	  	<div class="bounce3"></div>
	</div>
	<div ui-view ng-init="show=false" ng-show="!global_loading && !ocLazyLoad_loading"></div>
	<script type="text/javascript" src="//cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="//cdn.bootcss.com/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="/lib/angular/ocLazyLoad.min.js"></script>
	<script type="text/javascript" src="/frontend/dist/assets/js/frontend.min.js"></script>
</body>
</html>