<div class="page-error">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="error-block-inner">
					<h1>500</h1>
					<h4>服务器错误，已记录。将很快得到修复！!</h4>
					<a class="home-btn" ng-click="goHome()">回首页</a>
				</div>
			</div>
		</div>
	</div>
</div>