<ng-include src="'/frontend/tpls/header.html'"></ng-include>
<div class="container" id="page-content">
	<div class="col-md-8" id="about" style="background-image:url('/frontend/i/about.jpg');width:100%;overflow:hidden;background-position:center center;">
		<div class="wrap">
			<div about-render></div>
		</div>
	</div>
</div>
<ng-include src="'/frontend/tpls/footer.html'"></ng-include>