<ng-include src="'/frontend/tpls/header.html'"></ng-include>
<div class="container" id="page-content">
	<section class="col-md-7 col-lg-8" id="article">
		<h1 class="article-title" ng-bind="article.title"></h1>
		<div class="article-meta">
			<span><a ng-href="/author/{{article.author._id}}/" ng-bind="article.author.name"></a></span>
			<span><a ng-href="/classify/{{article.classify.slug}}/" ng-bind="article.classify.name"></a></span>
			<span ng-cloak>{{article.publish_at | date:'yyyy年MM月dd日 HH:mm:ss '}}</span>
		</div>
		<div article-render class="markdown-body editormd-html-preview"></div>
	</section>
	<aside class="col-md-5 col-lg-4" id="sidebar" ng-include="'/frontend/tpls/sidebar.html'">
	</aside>	
</div>
<footer class="article-footer">
	<div class="container" ng-cloak>
		{{settings.name}} &copy;2016
		<br>
		Powered by
		<a href="https://angular.io/" target="_blank">AngularJS</a>
		<br>
		感谢开源项目
		<a href="https://github.com/pandao/editor.md" target="_blank">Editor.md</a>
	</div>
</footer>
