<ng-include src="'/frontend/tpls/header.html'"></ng-include>
<div id="cover" style="background-image:url({{settings.img_cover}});width:100%;overflow:hidden;background-position:center center;">
	<div class="wrap">
		<div class="row">
			<div class="col-md-12">
				<img ng-src="{{posts[0].author.avatar}}" class="avatar" ng-if="posts[0].author.avatar">
				<p style="font-size:24px;margin-top:15px;" ng-cloak>{{posts[0].author.name}}</p>
				<div class="description" ng-bind="posts[0].author.bio" style="font-style: italic;"></div>
			</div>
		</div>
	</div>
</div>
<div class="container" id="page-content">
	<section class="col-md-8 col-md-offset-2">
		<p class="total" ng-cloak>共{{total}}篇文章</p>
	</section>
	<section class="col-md-8 col-md-offset-2" id="page" ng-include="'/frontend/tpls/posts.html'">
	</section>
</div>
<ng-include src="'/frontend/tpls/footer.html'"></ng-include>