<ng-include src="'/frontend/tpls/header.html'"></ng-include>
<div id="cover" style="background-image:url({{settings.img_cover}});width:100%;overflow:hidden;background-position:center center;">
	<div class="wrap">
		<div class="row">
			<div class="col-md-12">
				<h1 ng-cloak>welcome to {{settings.name}}</h1>
				<div class="description" ng-bind="settings.summary"></div>
			</div>
		</div>
	</div>
</div>
<div class="container" id="page-content">
	<section class="col-md-7 col-lg-8" id="page" ng-include="'/frontend/tpls/posts.html'">
	</section>
	<aside class="col-md-5 col-lg-4" id="sidebar" ng-include="'/frontend/tpls/sidebar.html'">
	</aside>	
</div>
<ng-include src="'/frontend/tpls/footer.html'"></ng-include>
	