<ng-include src="'/frontend/tpls/header.html'"></ng-include>
<div class="container" id="page-content">	
	<section class="col-md-7 col-lg-8" id="page" ng-include="'/frontend/tpls/posts.html'">
	</section>
	<aside class="col-md-5 col-lg-4" id="sidebar" ng-include="'/frontend/tpls/sidebar.html'">
	</aside>	
</div>
<ng-include src="'/frontend/tpls/footer.html'"></ng-include>