<ng-include src="'/frontend/tpls/header.html'"></ng-include>
<div class="container" id="page-content">
	<section class="col-md-8 col-md-offset-2" id="page" ng-include="'/frontend/tpls/posts.html'">
	</section>
</div>
<ng-include src="'/frontend/tpls/footer.html'"></ng-include>