@media(min-width:960px){
	#main{
		margin-left: 120px;
	}
	#site-header{
		padding-left:120px;: 
	}
	#page-posts .post{
		min-width: 400px;
	}
	#page-users .user{
		min-width: 360px;
	}
	md-tooltip {
		display: block !important;
	}
}
body{
	background-color:#ececec; 
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    width: 100%;
}
button, html, input, select, textarea{
	font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
a{
	text-decoration: none;
}
a.md-button:not([disabled]).md-focused, .md-button:not([disabled]).md-focused {
	background-color: rgba(0,0,0,0);
}
md-tooltip {
	display: none;
}
md-toolbar:not(.md-menu-toolbar){
	min-height: 48px;
	max-height: 48px;
	background-color: #fff;
	color:rgb(68, 68, 68);
	border-bottom: 1px solid rgba(0,0,0,.12);
	border-top: 1px solid rgba(0,0,0,.12);
}
md-toolbar:not(.md-menu-toolbar) .md-button{
	color:rgb(68, 68, 68);
}
#toast md-icon svg g line{
	stroke:#fff;
}
.close-btn svg g line{
	width: 32px;
	height:32px;
	stroke-width:3;
}
.default{
	background-color:#222222;  
	color:#ffffff;
}
.success{
	background-color:#5eb95e; 
	color:#ffffff;
}
.warn{
	background-color: #f37b1d;
	color:#ffffff;
}
.error{
	background-color:#dd514c;
	color:#ffffff;
}
.font-green{
	color:#42bd41;
}
.font-red{
	color:rgba(247, 65, 45, 1);
}
.avatar{
	width: 80px;
  	height: 80px;
  	margin-top: 16px;
  	border-radius: 50%;
  	-webkit-border-radius: 50%;
}
.avatar-img{
	max-width: 200px;
	max-height: 200px;
}
/*sign*/
.sign{
	width:300px;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	background-color:#ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

/*layout*/
#site-nav{
	min-width: 120px;
	max-width: 120px;
	position: fixed;
	height: 100%;
	background: #fff;
	z-index: 100;
}
#site-nav header{
	height:89px;
	border-bottom: 1px solid rgba(0,0,0,.12);
}
#site-nav header a{
	color:rgb(68, 68, 68);
}
#site-logo{
	font-size: 24px;
	font-weight: 300;
	height: 90px;
	line-height: 90px;
	margin: 0 0 20px;
	text-align: center;
}
#site-nav svg,
#site-nav md-icon{
	width:32px;
	height: 32px;
}
#site-header{
	position: fixed;
	top:0;
	left:0;
	z-index: 50;
}
#main{
	background-color:#ececec;
	padding-top: 48px;
}
#site-footer{
	background-color: #ececec;
    padding: 30px 0;
    text-align: center;
    font-size: 16px;
    color: rgb(130, 130, 130);
    font-weight: 300;
    line-height: 2em;
}
#site-footer .md-button{
	font-weight: 300;
}
/*page-index*/
#page-index .posts-recent,#page-index .notice{
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
#page-index .notice{
	line-height: 30px;
}
#page-index img{
	max-height: 400px;
	max-width: 400px;
}
/*page-editor*/
#page-editor{
	height:100%;
	margin-top: -48px;
	overflow:hidden;
}
#editor-header{
	margin:0;
	height: 48px;
}
#editor-header .md-button{
	margin:0;
	border-radius: 0;
	background-color: #fff;
	font-size: 24px;
	color:rgb(102,102,102);
}
#editor-header .post-title{
	width: 100%;
	height: 38px;
	border:none;
	outline: none;
	padding:5px 15px;
	font-size: 24px;
	line-height: 48px;
}
#editormd{
	margin-bottom: 0;
	border-left:none;
}
#post-settings-sidebar{

}
#editor-fab{
	position: fixed;
	bottom: 40px;
	right:20px;
	z-index: 50;
}
#editor-fab md-fab-trigger md-icon{
	width:40px;
	height: 40px;
}
#editor-fab md-fab-trigger svg polyline{
	stroke:#fff;
}
.editormd-fullscreen{
	z-index:40;
}
/*posts*/
#posts-sidebar{
	z-index: 40;
}
.posts-wrap .post{
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	margin-bottom: 15px;
}
.posts-wrap .post-content{
	padding: 16px;
}
.post-content h2{
	text-align: center;
}
.post-content svg{
	width:20px;
	height: 20px;
}
/*settings*/
#cover{
    position: relative;
    text-align: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.1); 
    width:100%;
    overflow:hidden;
    background-size:cover;
    background-position:center center;
}
#cover .wrap{
    padding: 120px 0;
    background-color: rgba(0,0,0,0.6);
    color: rgba(255, 255, 255, 0.8);
}
#cover h1{
    font-weight: 700;
    font-size: 3em;
    margin-top: 0;
}
#cover .description{
    font-size: 16px;
}
#cover .md-fab{
	position: absolute;
	right: 20px;
	top:20px;
	opacity: 0.8;
}
/*users*/
#page-users .user{
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	background: #fff;
}
#page-users .user-header{
	height: 160px;
	text-align: center;
	border:none;
	color:rgb(68, 68, 68);
}
.user-header h3{
	margin-top: 0;
	font-size: 16px;
	font-weight: 500;
}
.user-header span{
	font-size: 14px;
	font-weight: 300;
}
#page-users .user-content{
	background: #fff;
	padding:16px;
}
/*edit-user*/
#page-edit-user .edit-user-wrap{
	background-color: #fff;
	margin-top: 15px;
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
#page-edit-user .edit-user-header{
	height:120px;
	padding:24px;
	background-color: rgb(68, 68, 68);
	color:#fff;
}
#page-edit-user .avatar-container{
	position: relative;
}
#page-edit-user .avatar-container .md-fab{
	position: absolute;
	right:-20px;
	top:-20px;
	opacity: 0.8;
}
#page-edit-user .avatar{
	margin:0;
	vertical-align: middle;
}
#page-edit-user .edit-user-header .info{
	margin-left:16px;
}
#page-edit-user .edit-user-header h3{
	font-weight: 300;
}
#page-edit-user .edit-user-content{
	position: relative;
}
.edit-user-content .update-button{
	position: absolute;
	top:-28px;
	right:20px;
}
/*error*/
#page-error .error-content{
	position: absolute;
	top:50%;
	left:50%;
	text-align: center;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}
#page-error .error-content h1{
	margin-top: 0;
}
#page-error .error-content p{
	font-weight: 400;
}
/*bugReport*/
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 95%;
    height: 80px;
    text-align: center;
    margin: 10px;
    padding-top: 25px;
}
.dragover {
    border: 5px dashed blue;
}