@media(min-width: 992px){
	 #site-logo:before,#site-logo:after{
			content:'';
			display: inline-block;
			width:60px;
			height:1px;
			margin:15px;
			background-color:#fe7a3e; 
		}
}
@media(max-width: 767px){
		.post{
			height:auto !important;
		}
		.post .featured-media{
			width: 100% !important;
			height:250px !important;
		}
		.post-content{
			padding: 250px 0px 0px !important;
		}
}
body{
	background-color:#ececec; 
	font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6,p,a{
	font-weight: 300;
}
.avatar{
	width: 100px;
	height:100px;
	padding:2px;
	background: #fff;
	border-radius: 50%;
	-webkit-border-radius:50%;
}
.diabled{
	cursor: not-allowed;
	opacity: 0.6;
}
.diabled:hover{
	color:#828282 !important;
}
a{
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	text-decoration: none;
}
#site-header{
	background-color:#ffffff;
	height:160px;
	padding:15px 0;
}
#site-logo{
	font-size: 46px;
	text-align: center;
	font-weight: 300;
}
#site-logo a{
	color:#222222;
}

#site-menu{
	text-align: center;
}
#site-menu a{
	display: inline-block;
	text-align: center;
	font-size: 24px;
	line-height: 24px;
	color:#222222;
	margin:15px 30px;
}
/*
#site-menu a:after{
	content: '';
	display: block;
	width:0;
	height: 1px;
	margin:0 auto;
	margin-top: 7px;
	background-color:#ffffff; 
	-webkit-transition:width .6s ease-in-out,color .6s ease-in-out;
	transition: width .6s ease-in-out,color .6s ease-in-out;
}
#site-menu a:hover:after,#site-menu a:focus:after{
	width:100%;
	background-color: #fe7a3e;
}
*/
#site-menu a.active{
	color: #fe7a3e;
}
#cover{
	text-align: center;
	background-size: cover;
	background-color: rgba(0,0,0,0.1); 
}
#cover .wrap{
	padding: 120px 0;
	background-color: rgba(0,0,0,0.6);
	color: rgba(255, 255, 255, 0.8);
}
#cover h1{
	font-weight: 700;
	font-size: 3em;
	margin-top: 0;
}
#cover .description{
	font-size: 16px;
}
#page-content{
	padding:60px 0 30px;
	background-color: #ececec;
}
.post{
	position: relative;
	height:240px;
	padding:32px;
	margin-bottom: 30px;
	background-color:#ffffff;
	box-shadow: 1px 1px 4px #d0d0d0;
	overflow: hidden; 
}
.post .featured-media{
	position: absolute;
	top:0;
	left:0;
	width: 260px;
	height: 100%;
	padding-top: 0;
	margin-right: 32px;
	background-size: cover;
	background-position: center;
}
.post .post-content{
	padding: 0px 32px 32px 260px;
}
.post h2.post-title{
	margin-top: 0;
	margin-bottom: 14px;
	font-size: 24px;
}
.post h2.post-title a{
	color: #262626;
} 
.post .post-entry{
	max-height: 70px;
	overflow: hidden;
} 
.post .post-entry p{
	font-size: 16px;
	line-height: 2em;
	margin-bottom: 10px;
}
.post .post-continue{
	height:24px;
	line-height: 24px;
	margin:14px 0;
}
.post .post-continue a{
	color: #828282;
	font-style: italic;
}
.post .post-meta{
	height: 24px;
	line-height: 24px;
}
.post .post-meta span{
	margin-right: 10px;
	color: #828282;
}
.pagination{
	text-align: center;
	padding:30px;
	box-shadow: 1px 1px 4px #d0d0d0;
	background: #ffffff;
}
.pagination .next{
	float:right;
	color:#828282;
}
.pagination .next:hover,.pagination .pre:hover{
	color: #8bc34a;
}
.pagination .pre{
	float:left;
	color:#828282;
}
.page-num{
	color: #828282;
}
.widget{
	background-color: #ffffff;
	box-shadow: 1px 1px 4px #d0d0d0;
	padding: 0 32px 32px 32px;
	margin-bottom: 30px;
}
.widget .title{
	text-align: center;
	color: #262626;
	font-size: 16px;
	margin-bottom: 24px;
	margin-top: 0;
	padding: 21px 0;
	line-height: 1em;
	border-bottom: 1px solid #f0f0f0;
}
.widget .recent-sigle-post{
	margin-bottom: 16px;
}
.widget .recent-sigle-post a{  
	color: #262626;
}
.widget .recent-sigle-post a:hover{
	color: #8bc34a;
}
.widget .recent-sigle-post .date{
	font-size: 12px;
	color: rgb(130, 130, 130);
}
.widget .post-classify a{
	color: #828282;
	display: block;
	margin-bottom: 15px;
}
.widget .tag-cloud a{
	color: #828282;
	border: 1px solid #f0f0f0;
	white-space: nowrap;
	display: inline-block;
	margin: 0 7px 7px 0;
	padding: 0 4px;
}
.widget .tag-cloud a:hover{
	color: #8bc34a;
	border: 1px solid #8bc34a;
}
#site-footer{
	background-color: #ffffff;
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	color: rgb(130, 130, 130);
	font-weight: 300;
	line-height: 2em;
	margin-top: 30px;
}
/*author && classify*/
#page-content .total{
	font-size: 26px;
	text-align: center;
	padding-bottom:50px; 
}
/* article */
#article{
	box-shadow: 1px 1px 4px #d0d0d0;
	margin-bottom: 30px;
	padding:0;
}
.article-title{
	font-weight: 600;
	font-family: '宋体';
	padding-top: 20px;
	padding-left: 20px;
	margin:0;
	background: #fff;
}
.article-meta{
	padding-top: 20px;
	font-size: 12px;
	font-style: italic;
	background: #fff;
}
.article-meta span{
	display: inline-block;
	padding: 0 20px;
}
.article-footer{
	padding: 10px 0;
	text-align: center;
	font-size: 16px;
	color: rgb(130, 130, 130);
	font-weight: 300;
	line-height: 2em;
}
/*mdrender*/
#md-render p {
	font-weight: normal;
}

/*error*/
.error-block-inner{
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: 1px 1px 4px #D0D0D0;
	margin-top: 70px;
	margin-bottom: 30px;
	padding: 70px 30px;
	text-align: center;
}
.error-block-inner h1{
	margin-top: 0px;
	line-height: 1em;
	font-size: 40px;
}
.error-block-inner h4{
	font-size: 20px;
	line-height: 1.5em;
	margin-bottom: 20px;
}
.error-block-inner .home-btn{
	cursor: pointer;
	background: #262626 none repeat scroll 0% 0%;
	color: #FFF;
	border: medium none;
	padding: 7px 18px;
	transition: all 0.45s ease 0s;
}
.error-block-inner .home-btn:hover{
	background: green;
}

/*loading*/
.spinner {
	width: 150px;
	position: fixed;
	z-index: 9999;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	text-align: center;
}
.spinner > div {
	width: 30px;
	height: 30px;
	background-color: #67CF22;
 
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 
.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
 
.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
 
@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
	0%, 80%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 40% { 
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
/*about*/

#about{
	padding: 0;
	background-size: cover;
}
#about .wrap{
	padding: 20px;
	background-color: rgba(0,0,0,0.5);
	color: rgba(255, 255, 255, 0.8);
}

