<md-dialog aria-label="applyRest" flex="95" style="max-width:600px;" ng-controller="ApplyResetCtrl">
	<form name="applReset_form" id="applyReset" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>重置我的密码</h2>
				<span flex></span>
			  	<md-button ng-click="closeDialog()" class="md-icon-button close-btn" aria-label="close">
					<md-icon md-svg-icon="close"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<md-input-container>
				<label>邮箱</label>
				<input type="email" name="email" ng-model="apply.email" required>
			</md-input-container>
			<md-button class="md-raised md-primary" ng-click="applyReset()" ng-disabled="!applReset_form.email.$dirty || applReset_form.email.$invalid" aria-label="submit">提交</md-button>
		</md-dialog-content>
	</form>
</md-dialog>