<md-dialog aria-label="applyRest" flex="95" style="max-width:600px;" ng-controller="InviteCtrl">
	<form name="invite_form" id="inviteUser" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>邀请用户</h2>
				<span flex></span>
				<md-button ng-click="closeDialog()" class="md-icon-button close-btn" aria-label="close">
					<md-icon md-svg-icon="close"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<md-input-container>
				<label>邮箱</label>
				<input type="email" name="email" ng-model="invite.email" required>
			</md-input-container>
			<md-radio-group ng-model="invite.power" required>
		      	<md-radio-button value="0" class="md-primary">作者</md-radio-button>
		      	<md-radio-button value="1" ng-if="global_user.power == 2"> 管理员 </md-radio-button>
		    </md-radio-group>
			<md-button class="md-raised md-primary" ng-click="inviteUser()" ng-disabled="!invite_form.email.$dirty || invite_form.email.$invalid">提交</md-button>
		</md-dialog-content>
	</form>
</md-dialog>