<md-dialog aria-label="bugReport" flex="95" style="max-width:600px;" ng-controller="BugReportCtrl">
	<form name="bugReport_form" id="bugReport" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>bug和反馈</h2>
				<span flex></span>
			  	<md-button ng-click="closeDialog()" class="md-icon-button close-btn" aria-label="close">
					<md-icon md-svg-icon="close"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<md-input-container>
				<label>主题</label>
				<input type="text" name="subject" ng-model="report.subject" required>
			</md-input-container>
			<md-input-container>
				<label>你遇到的问题或建议</label>
				<textarea md-maxlength="500" name="detail" ng-model="report.detail" required></textarea>
			</md-input-container>

			<section ng-controller="UploadCtrl">
				<div ngf-drop="uploadBugPic($files)" ngf-select="uploadBugPic($files)" ng-model="files" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"  ngf-max-size="5MB" accept="image/webp,image/png,image/jpeg">
					将图片拖拽到虚线框或者点击上传
					<P><small>支持JPG JPEG PNG WEBP(<5MB)</small></P>
				</div>
				<P ng-show="report.img.length" ng-cloak>已经成功上传{{report.img.length}}张图片</P>
				<div ng-repeat="f in fs">
					<p ng-cloak>图片: {{f.name}}</p>
					<md-progress-linear md-mode="determinate" value="{{f.progress}}" ></md-progress-linear>
					<br>
				</div>
			</section>
			<md-button class="md-raised md-primary" ng-click="submit()" ng-disabled="!bugReport_form.subject.$dirty || bugReport_form.subject.$invalid || !bugReport_form.detail.$dirty || bugReport_form.detail.$invalid" aria-label="submit">提交</md-button>
		</md-dialog-content>
	</form>
</md-dialog>