<md-dialog aria-label="confirmPass" flex="95" style="max-width:600px;">
	<form name="confirm_pass_form" id="confirmPass" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>确认是你本人操作</h2>
				<span flex></span>
				<md-button ng-click="closeDialog()" class="md-icon-button close-btn" aria-label="close">
					<md-icon md-svg-icon="close"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<h3>你正在删除用户<span class="font-red" ng-cloak>{{ targetUser.name || '待激活' }}</span>,请输入你的密码！</h3>
			<md-input-container>
				<label>密码</label>
				<input type="password" name="pass" ng-model="confirmPass" maxlength="16" minlength="6" required>
			</md-input-container>
		</md-dialog-content>
		<div class="md-actions" layout="row">
		    <span flex></span>
		    <md-button ng-click="closeDialog()" aria-label="cancel">
		      	取消
		    </md-button>
		    <md-button ng-click="removeUser(pass)" ng-disabled="!confirm_pass_form.pass.$dirty || confirm_pass_form.pass.$invalid" style="margin-right:20px;" aria-label="ok">
		     	确定
		    </md-button>
		</div>
	</form>
</md-dialog>