<md-toast ng-class="toast.status" id="toast">
  	<span flex ng-bind="toast.message"></span>
  	<md-button class="md-icon-button close-btn" ng-click="closeToast()" ng-if="toast.canClose" aria-label="close">
  		<md-icon md-svg-icon="close"></md-icon>
  	</md-button>
</md-toast>
